.DS_Store
data
CGMacros
cleaned_data
.ipynb_checkpoints
/__pycache__
__pycache__
Final-Project.code-workspace
.gitignore
assets/vis_data/CGMacros.json
assets/vis_data/bio.json
assets/vis_data/meal_data.json
