@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@600&family=Space+Mono&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  font-weight: 300;
  --color-placemat:  #c2b48d;
}
body {
  overflow-x: hidden;
}

h1,
h2 {
  text-align: center;
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  gap: 1em;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-just-black);
}

#masthead {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
}
#masthead a {
  padding: 1rem 2rem;
}


#panels #panels-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}
#panels #panels-container .panel {
  color: var(--color-just-black);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}
#panels #panels-container .panel img {
  max-width: 100%;
  height: auto;
  display: block;
}
#panels #panels-container .panel .panels-navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
#panels #panels-container .panel .anchor-panel,
#panels #panels-container .panel .nav-panel {
  text-transform: uppercase;
  margin-right: 2rem;
}
#panels #panels-container .panels-navigation {
  position: absolute;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
}

a {
  color: var(--color-just-black)
}

.graph-container {
  margin: 10px 0;
  width: 700;
  height: 100;
}

p {
  width: 600px;
  margin: 0 auto;
  word-wrap: break-word;
}

.bowl {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  grid-template-areas: "bowl";
  aspect-ratio: 1;
  width: 50vmin;
  font-size: 8vmin;
  background:white;
  border-radius: 50%;
  border: 1vmin 50% rgb(151, 145, 145);
  box-shadow: 
    hsla(0 0% 0% / 0.05) 2vmin 2vmin 2vmin -2vmin,
    hsla(0 0% 0% / 0.05) -2vmin -2vmin 2vmin -2vmin,
    white 0 0 0 3vmin,
    rgba(139, 119, 90, 0.5) 0 0 0 3.5vmin,
    white 0 0 0 5vmin,
    hsl(0deg 0% 0% / 60%) 5vmin 5vmin 5vmin;
  
}

.bowl > * {
  grid-area: bowl;
}

.text {
  width: 100%;
  text-shadow: 2px 1px 2px rgba(139, 119, 90, 0.5);
  text-align: center;
  color: hsl(32 100% 75%);
  font-family: "Gluten", monospace;
}


.mat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 75%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 5%;
  aspect-ratio: 5 / 4;
  gap: 8%;
  border-radius: 0.5vmin;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0 1vmin 1vmin -0.5vmin;

  /* Checkered pattern using gradients */
  background: 
    repeating-linear-gradient(90deg, rgba(139, 119, 90, 0.5) 0 10%, transparent 10% 20%), /* Vertical Stripes */
    repeating-linear-gradient(0deg, rgba(139, 119, 90, 0.5) 0 10%, transparent 10% 20%),  /* Horizontal Stripes */
    rgba(245, 235, 220, 1); /* Base fabric color */
  background-size: 50vmin 50vmin; /* Controls the size of the squares */
}

.fork, .knife{
  height: 55%;  
  width: 10vmin;
}

